LOCAL_IP 192.168.56.101
CLIENT_SIP_IP 192.168.56.102

#LOCAL_IP 10.120.100.219
#CLIENT_SIP_IP 10.120.100.219

#LOCAL_IP 192.168.32.2
#CLIENT_SIP_IP 192.168.32.2

CLIENT_SIP_PORT 5171
FEC_DELAY 3
FEC_MONO_BITRATE 8000

CONFERENCE 0
SATURATION_GROUP 80 15 5
CLIENT_CONNECT_DELAY 1
CLIENT_CODEC G711_ALAW
CLIENT 0 wavs/Angus_0.wav

CLIENT_CODEC G711_ULAW
CLIENT 1 wavs/Angus_0.wav

CLIENT_CODEC G722
CLIENT 2 wavs/Angus_0.wav

CLIENT_CODEC DOLBY_16
CLIENT 3 wavs/Angus_8.wav

CLIENT_CODEC DOLBY_SOUNDFIELD
CLIENT 4 wavs_sf/Bondi_2Avatars_BF.wav
